.dashboard {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 1rem;
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
}

.widget, .upload {
    background-color: #fff;
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: 400px;
}

.widget ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.widget ul li {
    padding: 0.5rem 0;
}

.widget {
    display: grid;
    grid-gap: 0.2rem;
}

.widget label {
    font-weight: 700;
}

.upload input[type="file"] {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
}

.upload button {
    padding: 1rem 1rem;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

.upload button:hover {
    background-color: #555;
}

.widget input[type="text"], .widget select{
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    width: 100%;
}